<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Mini Blog{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load static %}
    <link rel="stylesheet" href="{% static 'blog/style.css' %}">
</head>
<body>

<header>
    <div class="nav-container">
        <div class="site-title">
            <a href="{% url 'post_list' %}">Mini Blog</a>
        </div>
    </div>
</header>

<main>
    {% block content %}
    {% endblock %}
</main>

</body>
</html>
